@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

#nav-section {
  padding: 5vmax 10vmax;
}


nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

#nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: grey;
  padding-right: 2rem;
}

#nav-links a:hover {
  cursor: pointer;
  color: aqua;
}


#contact-btn a {
  background-color: blue;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 2.1rem;
}

#contact-btn a:hover{
  background-color:gray;
}

/* ------------------------------ Front Page ------------------------------ */

#frontPage-section {
  padding-left: 19vmax;
  padding-right: 15vmax;
}

#frontPage {
  display: flex;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

#customer-img {
   height: 33rem;
}

#visa-img {
  height: 20rem;
}

#approved-emoji-img {
  height: 20rem;
}

/* ------------------------------ Partners ------------------------------ */

#brands-img-container img {
  width: 150px;
}

/* ------------------------------ Recent projects ------------------------------ */
#api-cards-container {
  display: flex;
  justify-content: center; 
  text-align: center;
  align-items: center;
  
}

.api-cards {
  width: 300px;
  margin: 0 2rem 0 2rem;
}

/*código en caso de querer "recortar" la cantidad de texto mostrada en cada "card" */

/* .line-limit p {
  white-space: nowrap ;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.api-img {
  height: 300px;
  width: 300px;
}

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

footer {
  padding: 8rem 26rem;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#footer-logo p {
  font-weight: 200;
  color: grey;
  padding-top: 2rem;
}
#footer-logo img {
  height: 2rem;
}

#footer-links a {
  font-weight: 500;
  color: blue;
  text-decoration: none;
  padding-right: 2rem;

}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

#alert-done {
  background-color: green;
  color: white;
  display: none;
  top: 0;
  font-weight: 500;
  text-align: center;
  padding: 0.8rem;
  width: 100%;
}

#alert-fail {
  background-color: red;
  color: white;
  display: none;
  top: 0;
  font-weight: 500;
  text-align: center;
  padding: 0.8rem;
  width: 100%;
}

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* #scroll-btn-container {
/* display: none; */
/* position: sticky; */




#scrollBtn {
  background-color: black;
  color: white;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.8rem;
}

#scrollBtn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}