@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primary: #43d2ff;
  --primary: #a2d6f9;
  --primary: #d1edff;
  --primary: #292e47;
  --primary: #6b708d;
  --primary: #f2f4fc;
  --primary: #ecf7ff;
  --primary: #ffc600;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  font-weight: 300;
}

section,
footer {
  max-width: 1100px;
  margin: auto;
}


/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------ CIRCULAR ANIMATION ------ */

#lds-ring {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f4fc;
}
#lds-ring div {
  position: absolute;
  display: block;
  width: 500px;
  height: 500px;
  margin: 3px;
  border: 3px solid #ffc600;
  border-radius: 50%;
  animation: spin 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffc600 transparent transparent transparent;
}

#lds-ring div:nth-child(1) {
  animation-delay: -0.6s;
}
#lds-ring div:nth-child(2) {
  animation-delay: -0.4s;
}
#lds-ring div:nth-child(3) {
  animation-delay: -0.2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* ------------------------------ Navbar ------------------------------ */

nav {
  margin: 5rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: #6b708d;
  padding-right: 2rem;
}

#nav-links a:hover {
  cursor: pointer;
  color:#5594f3;
}


#contact-btn a {
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 2.1rem;
}

#contact-btn a:hover{
  background-color:#6b708d;
}

/* ------------------------------ Front Page ------------------------------ */

#frontPage-section {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#frontPage-section > div {
  width: 47%;
}

#text-box {
  margin-bottom: 3rem;
}

#text-box h1 {
  color: #292e47;
  text-align: left;
  font-size: 3.85rem;
  margin-bottom: 2rem;
}

#text-box > p {
  text-align: left;
  color: #6b708d;
  font-weight: 400;
  line-height: 160%;
  font-size: 1.33rem;
  margin: 2rem 0 3rem 0;
}

#front-page-images {
  position: relative;
}

#visa-img {
  position: absolute;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 55%;
}

#approved-emoji-img {
  position: absolute;
  right: -20%;
  top: auto;
  left: auto;
  bottom: -20%;
  max-width: 55%;
}

#customer-img {
  text-align: center;
  width: 100%;
}

#fp-buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#fp-btn-blue{
  background-color:#072ac8;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 1rem;
}

#fp-btn-link {
  color: #6b708d;
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 1rem;
}

/* ------------------------------ Brands ------------------------------ */

#brands {
  overflow: hidden;
  width: 80%;
}

#brands-img-container {
  margin: 6rem 1rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
}

#brands-img-container img {
  width: 180px;
  filter: grayscale(1);
  padding-right: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

#brands-img-container img:hover {
  filter: grayscale(0);
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(137px * 7));
    transform: translateX(calc(-180px * 7));
  }
}

/* ------------------------------ Recent projects ------------------------------ */

#api-cards-container,
#api-cards-random {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin-bottom: 6rem;
}

.api-cards > h3,
.api-cards > p {
  color:  #292e47;
}

.api-cards > h3,
.api-cards > h4,
.api-cards > p {
  padding: 0.5rem 1rem 1rem 1rem;
}


#learn-more {
  font-weight: 500;
  color: #072ac8;
  text-decoration: none;
}

.api-cards {  
  width: 330px;
  height: 510px; 
  background-color: white;
  margin: 0 1.5rem 2rem 0;
  text-align: left;
}

.api-img {
  height: 250px;
  width: 330px;
}

/* ------------------------------ Client reviews ------------------------------ */

#customer-box {
  background-image: url(../images/testimonial-section/orbit.png);
  background-color: #292e47;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 1200px;
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

#testimonials {
  max-width: 50%;
}

#testimonials h2 {
  font-weight: 500;
  color: white;
  font-size: 2rem;
  margin-bottom: 5rem;
}

#testimonials > p {
  color: #ffc600;
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 5rem;
}

#testimonials p:nth-child(1){
  color: #43d2ff;
  font-weight: 400;
  font-size: 0.9rem;
}

#testimonials p:last-child {
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
}

#profile-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#profile-review > p {
  color:aqua;
}

#profile-img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 1rem;
}

#emoji1,
#emoji2,
#emoji3,
#emoji4 {
  width: 15%;
}

#emoji1 {
  position: absolute;
  top: 7%;
  left: 10%;
  bottom: auto;
  right: auto;
}

#emoji2 {
  position: absolute;
  bottom: 7%;
  left: 10%;
  top: auto;
  right: auto;
}

#emoji3 {
  position: absolute;
  top: 7%;
  right: 10%;
  bottom: auto;
  left: auto;
}

#emoji4 {
  position: absolute;
  bottom: 7%;
  right: 10%;
  top: auto;
  left: auto;
}

/* ------------------------------ Services ------------------------------ */

#services {
  margin-bottom: 4rem;
}

#services-card-container  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.services-cards {
  background-color: white;
  width: 330px;
  margin: 0 1.5rem 2rem 0;
  text-align: left;
  height: 300px
}

.sc-image{
  width: 70px;
  height: 70px;
  background-color: #ecf6ff;
  border-radius: 100px;
  margin: 2rem 0 2rem 1.7rem;
}

.sc-image img{ 
  margin: 1rem 1rem 1rem 1rem;
}

.services-cards > h4,
.services-cards > p {
  color: #292e47;
}

.services-cards > p {
  font-size: 1.1rem;
}

.services-cards > h4,
.services-cards > p,
.services-cards > a {
  padding: 0 2rem 1rem 1.7rem;
}

/* ------------------------------ Questions form ------------------------------ */

#help-form {
  background-color: #ffc600;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

#email-container {
  width: 100%;
  display: flex;
  justify-content: center;
} 

#helpForm-container h2 {
  font-size: 2.5rem;
}

#helpForm-container p {
  color: #6b708d;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 300;
}

 #email-form {
  background-color: white;
  color: #292e47;
  background-image: url(../images/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 5%;
  border-style: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.5rem 12rem 1.5rem 2rem;
  margin-right: 1rem;
  margin-top: 1rem;
 }

 #subscribe-btn {
  background-color:#072ac8;
  color: white;
  font-weight: 700;
  border-style: none;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1.5rem 3rem;
 }

 #subscribe-btn:hover {
  cursor: pointer;
 }
/* ------------------------------ Footer ------------------------------ */

#footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 8rem 2rem 8rem 2rem;
}

#footer-logo p {
  font-weight: 300;
  color: #292e47;
  padding-top: 1rem;
}
#footer-logo img {
  height: 2rem;
}

#footer-logo img:hover {
  cursor: pointer;;
}

#footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
}

#footer-links a {
  font-weight: 500;
  color: #072ac8;
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

#projects-section {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.api-card-solo {  
  display: flex;
  justify-content: space-between;
}

.api-img-solo {
  width: 98%;
  height: 30rem;
  margin: 1rem 0.1rem 1rem 0.1rem;
  object-fit: cover;
}


.title,
#random-projects-title > h2 {
  font-size: 2rem;
  color: #292e47;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
}

/* api-cards-random tag already edited in "Recent Projects"  */


/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

#contactUs-section {
  padding: 1rem;
}

.contactUs-container > h1 {
  font-size: 4rem;
  color: #292e47;
}

.email-phone {
  display: flex;
  justify-content: space-between;
}

#email-div,
#phone-div {
  width: 49%;
}

#contactUs-form input{
  font-size: 1rem;
  background-color: #bebec0;
  padding: 1rem 0rem 1rem 1rem;
  width: 100%;
  border: none;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#message {
  font-size: 1rem;
  background-color: #bebec0;
  padding: 0.5rem 1rem 1rem;
  width: 100%;
  height: 10rem;
  border: none;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#contactUs-submit-btn {
  width: 100%;
  color: #f2f4fc;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #072ac8;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}

#contactUs-submit-btn:hover {
  cursor: pointer;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About Us html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */

@media (max-width: 990px) {

/* ------------------------- Nav Bar responsive ------------------------- */

nav {
  margin: 2rem 6rem 2rem 6rem;
}

#nav-links {
  display: none;
}

#contact-btn {
  display: none;
}

/* ------------------------- FrontPage responsive ------------------------- */

#frontPage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#frontPage-section div {
  width: 90%;
  text-align: center;
}

#customer-img {
  width: 80%;
}

#text-box > p {
  text-align: center;
  font-size: 1.3rem;
}

#text-box > h1 {
  text-align: center;
}

/* ------------------------- Brands responsive ------------------------- */

.hide {
  display: none;
}

#brands-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 4rem 1rem 0 1rem;
  animation: none;
  -webkit-animation: none;
}


#brands-img-container img {
  padding-top: 4rem;
  display: block;
  margin: auto;
  filter: grayscale(0);
  width: 175px;
}

/* ------------------------- Projects responsive ------------------------- */

.title,
#random-projects-title {
  text-align: center;
  margin-top: 1rem;
}

.title,
#random-projects-title h2 {
  font-size: 1.8rem;
  padding: 0;
}

}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */

@media (max-width: 766px) {

/* ------------------------- Front Page mobile ------------------------- */

#frontPage-section div {
  text-align: center;
}

#text-box > h1 {
  font-size: 2rem;
}

#text-box > p {
  font-size: 1rem;
}

#visa-img {
  display: none;
}

#approved-emoji-img {
  display: none;
}


/* ------------------------- Brands mobile ------------------------- */

#brands-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 1rem 1rem 3rem 1rem;
}

#brands-img-container img {
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 130px;
}

/* ------------------------- Projects mobile ------------------------- */ 

#api-cards-container {
  flex-direction: column;
}

.api-img {
  height: 210px;
  width: 300px;
}

.api-cards {
  margin: 0 1rem 1rem 1rem;
  width: 300px;
  height: 470px;
}

/* ------------------------- Review mobile ------------------------- */

#emoji1,
#emoji2,
#emoji3,
#emoji4 {
  display: none;
}

#customer-box {
  justify-content: center;
  height: 350px;
}

#testimonials {
  max-width: 90%;
}

#testimonials h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#testimonials > p {

  font-size: 1.7rem;
  margin-bottom: 1rem;
}
/* services mobile */

#services-card-container {
  flex-direction: column;
}

.services-cards {
  width: 300px;
  margin: 0 1rem 1rem 1rem;
}

/* ------------------------- Services mobile ------------------------- */

/* No needed */

/* ------------------------- Help form section mobile ------------------------- */

#email-form {
  padding: 1.5rem 1rem;
 }

#email-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#email-form {
  margin: 0;
  padding-left: 2rem;
}

 #helpForm-container h2 {
  font-size: 1.6rem;
}

#email-form {
  font-size: 0.9rem;
}

/* ------------------------- Footer mobile ------------------------- */

  #footer-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 2rem 10rem 1rem;
  }

  #footer-links {
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
}

  #footer-logo p {
    font-weight: 200;
    color: #6b708d;
    padding-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  #footer-logo img {
    display: block;
    margin: auto;
    height: 2rem;
  }
  

/* ------------------------- Contact Us mobile ------------------------- */


.contactUs-container > h1 {
  text-align: center;
  font-size: 2.5rem;
}

}





/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

#alert-done {
  background-color: green;
  color: white;
  display: none;
  top: 0;
  font-weight: 500;
  text-align: center;
  padding: 0.8rem;
  width: 100%;
}

#alert-ironhack,
#alert-fail {
  background-color: red;
  color: white;
  display: none;
  top: 0;
  font-weight: 500;
  text-align: center;
  padding: 0.8rem;
  width: 100%;
}

/* ------------------------------ Sticky scroll bar ------------------------------ */

#scrollBtn {
  background-color: black;
  color: white;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.8rem;
}

#scrollBtn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}